{% set albums = __SELF__.albums %}

<div class="container">
    <div class="row album-list">
        {% for album in albums %}
        <div class="col-lg-3 text-center">
            <div amplitude-song-index="{{ album.id - 1}}" class="card mb-3 album-inner amplitude-play-pause amplitude-song-container">
                {% if album.cover_art_url %}
                <a class="card-link text-dark" href="{{ album.url }}">
                    <img class="card-img-top" src="{{ album.cover_art_url|media }}" alt="{{ album.title }}">
                </a>
                {% endif %}
                <div class="card-body">
                    <h6 class="card-title">
                        <a class="card-link text-dark" href="{{ album.url }}">{{ album.title }}</a>
                    </h6>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">
                        <i class="ion-ios-play-outline"></i>
                    </button>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-12 no-data text-center">
            <h2 class="display-4">{{ noAlbumsMessage }}</h2>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-12">
            {% if albums.lastPage > 1 %}
            <nav aria-label="Albums pagination">
                <ul class="pagination">
                    {% if albums.currentPage > 1 %}
                    <li class="page-item">
                        <a href="{{ this.page.baseFileName|page({ (pageParam): (albums.currentPage-1) }) }}" class="page-link">Prev</a>
                    </li>
                    {% endif %}

                    {% for page in 1..albums.lastPage %}
                    <li class="page-item {{ albums.currentPage == page ? 'active' : null }}">
                        <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}" class="page-link">{{ page }}</a>
                    </li>
                    {% endfor %}

                    {% if albums.lastPage > albums.currentPage %}
                    <li class="page-item">
                        <a href="{{ this.page.baseFileName|page({ (pageParam): (albums.currentPage+1) }) }}" class="page-link">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>

</div>
