$light:                         #f5f5f5 !default;
$dark:                          #0e0e0e !default;
$spacer:                        1rem !default;

$player-padding-y:              ($spacer / 2) !default;
$player-padding-x:              $spacer !default;

$player-control-padding-y:      .375rem !default;
$player-control-padding-x:      .75rem !default;
$player-control-font-size:      ($spacer + .2) !default;
$player-control-font-weight:    normal !default;
$player-control-border-width:   1px !default;
$player-control-line-height:    1.5 !default;

$player-light-bg:               rgba($light, 1) !default;
$player-light-color:            rgba($dark, .9) !default;
$player-light-hover-color:      rgba($dark, .7) !default;
$player-light-active-color:     rgba($dark, .9) !default;
$player-light-disabled-color:   rgba($dark, .3) !default;