@import "settings";

.sw-control-input {
    input[type=range] {
        /*removes default webkit styles*/
        -webkit-appearance: none;
        
        /*fix for FF unable to apply focus style bug */
        border: 1px solid white;
        
        /*required for proper track sizing in FF*/
        width: 100%;
        z-index: 1000;
    }
    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 3px;
        background: #ddd;
        border: none;
        border-radius: 0;
    }
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: goldenrod;
        margin-top: -7px;
    }
    input[type=range]:focus {
        outline: none;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #ccc;
    }
    
    input[type=range]::-moz-range-track {
        width: 100%;
        height: 3px;
        background: #ddd;
        border: none;
        border-radius: 0;
    }
    input[type=range]::-moz-range-thumb {
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: goldenrod;
    }
    
    /*hide the outline behind the border*/
    input[type=range]:-moz-focusring{
        outline: 1px solid white;
        outline-offset: -1px;
    }
    
    input[type=range]::-ms-track {
        width: 100%;
        height: 3px;
        
        /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
        background: transparent;
        
        /*leave room for the larger thumb to overflow with a transparent border */
        border-color: transparent;
        border-width: 6px 0;
        
        /*remove default tick marks*/
        color: transparent;
    }
    input[type=range]::-ms-fill-lower {
        background: #777;
        border-radius: 10px;
    }
    input[type=range]::-ms-fill-upper {
        background: #ddd;
        border-radius: 10px;
    }
    input[type=range]::-ms-thumb {
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: goldenrod;
    }
    input[type=range]:focus::-ms-fill-lower {
        background: #888;
    }
    input[type=range]:focus::-ms-fill-upper {
        background: #ccc;
    }
}
// Progress
.sw-progress {
    height: 3px;
    width: 288px;
    margin: 11px auto;
    background-color: rgba($dark, .3);
    position: relative;
    
    @media (max-width: 575.98px) {
        width: 175px;
    }
    
    .sw-progress-bar {
        position: absolute;
        appearance: none;
        display: block;
        height: 3px;
        width: 100%;
        left: 0;
        top: 0;
        border: none;
        cursor: pointer;
        background: transparent;
    }
    
    .sw-progress-bar-slider {
        z-index: 3;
    }
    
    .sw-progress-bar-played {
        z-index: 2;
        &::-webkit-progress-bar {
            background-color: transparent;
        }
        &::-webkit-progress-value {
            background-color: rgba($dark, .7);
            transition: width 0.1s ease;
        }
        &::-moz-progress-bar {
            background-color: rgba($dark, .3);
        }
    }
    
    .sw-progress-bar-buffered {
        z-index: 1;
        &::-webkit-progress-bar {
            background-color: transparent;
        }
        &::-webkit-progress-value {
            background-color: rgba($dark, .5);
        }
        &::-moz-progress-bar {
            background-color: rgba($dark, .3);
        }
    }
}

