<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <div class="container">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarPlayer" aria-controls="navbarPlayer" aria-expanded="false" aria-label="Toggle player">
            <i class="ion-ios-play-outline"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarPlayer">
            <ul class="navbar-nav flex-row justify-content-center mr-auto">
                <li class="nav-item">
                    <a class="nav-link px-3 amplitude-prev">
                        <i class="ion-ios-skipbackward-outline"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 amplitude-play-pause" amplitude-main-play-pause="true">
                        <i class="ion-ios-play-outline"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 amplitude-next">
                        <i class="ion-ios-skipforward-outline"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 amplitude-shuffle">
                        <i class="ion-ios-shuffle"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 amplitude-repeat">
                        <i class="ion-ios-loop"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav flex-row justify-content-center">
                <li class="nav-item">
                    <small class="nav-link px-3 amplitude-current-time" amplitude-main-current-time="true"></small>
                </li>
                <li class="nav-item mt-3 sw-progress sw-control-input">
                    <input type="range" class="sw-progress-bar amplitude-song-slider" amplitude-main-song-slider="true" step=".1"/>
                    <progress id="song-played-progress" class="sw-progress-bar sw-progress-bar-played amplitude-song-played-progress" amplitude-main-song-played-progress="true"></progress>
                    <progress id="song-buffered-progress" class="sw-progress-bar sw-progress-bar-buffered amplitude-buffered-progress" value="0"></progress>
                </li>
                <li class="nav-item">
                    <small class="nav-link px-3 amplitude-duration-time" amplitude-main-duration-time="true"></small>
                </li>
            </ul>
            <ul class="navbar-nav flex-row justify-content-center ml-auto">
                <li class="nav-item px-3 media">
                    <img width="42" height="42" amplitude-song-info="cover_art_url" amplitude-main-song-info="true" class="mr-2"/>
                    <div class="media-body text-light" style="width:250px">
                        <small amplitude-song-info="album" amplitude-main-song-info="true" class="d-block"></small>
                        <small class="d-block text-truncate">
                            <span amplitude-song-info="artist" amplitude-main-song-info="true"></span>
                            <span> - </span>
                            <span amplitude-song-info="name" amplitude-main-song-info="true"></span>
                        </small>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% if albums %}
<!-- For Album List -->
{% put scripts %}

<div class="soundwave-loading-json">
    <script type="text/javascript">
        Amplitude.init({
            "songs": [
                {% if albums is iterable %}
                    {% for album in albums %}
                        {
                            "artist": "{{ album.artist }}",
                            "name": "{{ album.title }}",
                            "album": "{{ album.title }}",
                            "url": "{{ musicBaseURL }}{% if album.songs|length > 0 %}{% set song = album.songs.first %}{{ song.id }}{% endif %}",
                            "cover_art_url": "{{ song.cover_art_url|media }}"
                        }{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
            ]
        });
    </script>
</div>
{% endput %}
{% else %}
<!-- For Album Detail -->
{% put scripts %}
<div class="soundwave-loading-json">
    <script type="text/javascript">
        Amplitude.init({
            "songs": [
                {% if album.songs is iterable %}
                    {% for song in album.songs %}
                        {
                            "artist": "{{ song.artist }}",
                            "name": "{{ song.name }}",
                            "album": "{{ album.title }}",
                            "url": "{{ musicBaseURL }}{{ song.id }}",
                            "cover_art_url": "{{ song.cover_art_url|media }}"
                        }{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
            ]
        });
    </script>
</div>
{% endput %}
{% endif %}