{% if album %}
<div class="container">
    {% set album = __SELF__.album %}
    <div class="row">
        <div class="col-lg-5">
            {% if album.cover_art_url %}
            <img class="img-fluid" src="{{ album.cover_art_url|media }}" alt="{{ album.title }}">
            {% endif %}
        </div>
        <div class="col-lg-7">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ album.title }}</h3>
                    <h5 class="card-subtitle">{{ album.artist }}</h5>
                </div>
                {% if album.songs %}
                <ul class="list-group">
                    {% for song in album.songs %}
                    <li amplitude-song-index="{{ song.id - 1}}" class="list-group-item amplitude-play-pause amplitude-song-container">
                        <button class="btn btn-link">
                            <i class="ion-ios-play"></i>
                        </button>

                        <small>{{ song.artist }} - {{ song.name }}</small>

                        {% if song.downloadable %}
                        <a class="btn btn-link float-right" href="{{ song.url|media }}" download>
                            <i class="ion-ios-download"></i>
                        </a>
                        {% endif %}

                        {% if song.purchase_links %}
                        <ul class="nav">
                            {% for purchase_link in song.purchase_links %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ purchase_link.source_link }}" target="_blank">
                                    <small>{{ purchase_link.source }}</small>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Album not found</h1>
    </div>
</div>
{% endif %}